@import "bootstrap/scss/bootstrap";

#root {
  width: 100%
//  margin: 0 auto;
//  padding: 2rem;
//  //text-align: center;
}

.logo {
  height: 2em;
  padding: .2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.avatar {
  position: relative;
  display: inline-block;
  height: 3rem;
  width: 3rem;
}

.avatar img {
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar img, .avatar .avatar-name {
  width: 100%;
  height: 100%;
}
.avatar img {
  display: block;
}
.rounded-circle {
  border-radius: 50% !important;
}

li, .dropdown {
  list-style: none;
}